.row {
  display: flex;
  flex-direction: row;
}
@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      max-width: $width;
    }
  }
}
@media only screen and (min-width : 1200px) {
  // DESKTOP
  @include grid('xl');
}
@media only screen and (min-width : 979px) {
  // TABLET
  @include grid('md');
}
@media only screen and (max-width : 767px) {
  // MOBILE
  @include grid('sm');
}
@media only screen and (min-width : 1200px) {
  // DESKTOP
  @include grid('xl');
}
@media only screen and (min-width : 979px) {
  // TABLET
  @include grid('md');
}
@media only screen and (max-width : 767px) {
  // MOBILE
  @include grid('sm');
}
@mixin robotoFont {
  font-family: 'Roboto', sans-serif;
}

.section__title {
  @include robotoFont;
  font-size: 3em;
  text-align: center;
}

.quote-board {
  margin: 0 auto;
  text-align: center;
}

.quote-board__jokes {
  @include robotoFont;
  font-size: 2em;
  margin: 50px;
}

.quote-board__btn {
  @include robotoFont;
  font-weight: 300;
  font-size: 2em;
  background-color: #222;
  color: #fff;
  border: 0;
  padding: 10px;
  transition: all 400ms ease;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
  }
}
